.priv-group{
    display:inline-block;
}
/* icon */
.questionDeletion {
    position: absolute;
    right: 10px;
}
.form-check-input:checked {
    background-color: grey;
    border-color: grey;
  }
  .circle-label {
    display: inline-block;
    margin-right: 10px;
  }
  .add-user-container{
    margin: 7px;
  }
  .user-container{
    
  }
  .floating-label{
    margin-left: 5px;
  }